{% from "macros.html" import SearchDescription %}
{% from "macros.html" import ProductDescription %}

<!DOCTYPE html>
<html>

<head>
    <title>Generic Medicine!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type=text/javascript src="static/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>

    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <h1>
        <center>Medicine Brand Search</center>
    </h1>
    <form class="example" method="post" action="">

        <label>Search Here</label>&nbsp;&nbsp;<input type="text" name="search" id="searchBox" />

        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <p></p>
    {% if data |length !=0 %}
    <tr>
        <td> {{ SearchDescription(data[0]) }}</td>
        </br>
        </br>
        Results:
    </tr>
    {% endif %}

    <center>
        {% for obj in data[1:] %}
        <tr>
            <td> {{ ProductDescription(obj) }}</td>
        </tr>
        {% endfor %}
    </center>
</body>

</html>