<!DOCTYPE html>
<html>

<head>
    <title>Generic Medicine!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="static/js/jquery/jquery.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
</head>

<body>
    <h1>
        <center>Collection</center>
    </h1>
    <form class="example" method="post" action="">
        <input type="text" placeholder="Search by brand" name="search_name">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <p></p>
    {% if data |length !=0 %}
    <tr>
        <td> {{data[0][0]}} : <b>{{data[0][1]}} </b></td>
        </br>
        </br>
        Results:
    </tr>
    {% endif %}

    <center>
        {% for obj in data[1:] %}
        <tr>
            <td> {{obj[0]}} by {{obj[1]}}</td>
            </br>
        </tr>
        {% endfor %}
    </center>
</body>

</html>