body {
    margin: 20px !important;
    background-image:  url("/static/img/background.jpg");
}

h1 {
  font-family:verdana;
}

.collection {
    margin: auto;
    max-width: 600px;
}

* {
    box-sizing: border-box;
  }
  
  form.collection input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.collection button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.collection button:hover {
    background: #0b7dda;
  }
  
  form.collection::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    width: 600px;
    margin: auto;
  }

  p {
    width: 560px;
    margin: auto;
  }
  